In [1]:
import py_stringsimjoin as ssj

In [2]:
A, B = ssj.load_books_dataset()

In [3]:
def concat(*args):
        strs = [str(arg) for arg in args if not pd.isnull(arg)]
        ret_val = ' '.join(strs) if strs else ''
        return ret_val.strip()

In [5]:
import numpy as np

In [7]:
np_concat = np.vectorize(concat)

In [12]:
import pandas as pd

In [15]:
s = np_concat(*A.T.values)

array([ "BN0001 The Maze Runner Series Complete Collection $24.21  James Dashner 9780385388894 Random House Children's Books 7/8/14 5.60(w) x 8.40(h) x 3.30(d)",
       'BN0002 The 5th Wave (Fifth Wave Series #1) $8.35  Rick Yancey 9780142425831 Penguin Young Readers Group 2/10/15 512.0 5.40(w) x 8.20(h) x 1.50(d)',
       "BN0003 The Death Cure (Maze Runner Series #3) $9.99  James Dashner 9780385738781 Random House Children's Books 1/8/13 352.0 5.50(w) x 8.10(h) x 1.00(d)",
       ...,
       'BN3020 Skeleton Key: The Graphic Novel $10.86  Anthony Horowitz 9780399254185 Penguin Young Readers Group 11/12/09 128.0 5.90(w) x 8.90(h) x 0.50(d)',
       'BN3021 Who Do You Think You Are?: Stories of Friends and Enemies $7.97  Hazel Rochman 9780316753203 Little, Brown Books for Young Readers 10/1/97 176.0 5.50(w) x 8.25(h) x 0.50(d)',
       'BN3022 Freak Show $7.41  James St. James 9780142412312 Penguin Young Readers Group 10/2/08 304.0 5.70(w) x 10.90(h) x 0.78(d)'],
      dtype='<U304')

In [17]:
import py_stringsimjoin as ssj
import numpy as np

A, B = ssj.load_books_dataset()

def concat_cols(*column_values):
    strs = [str(column_value) for column_value in column_values if not pd.isnull(column_value)]
    ret_val = ' '.join(strs) if strs else ''
    return ret_val.strip().lower()

np_concat_cols = np.vectorize(concat_cols)

def get_str_cols(dataframe):
    if len(dataframe) == 0:
        raise AssertionError('Size of input table is 0')

    cols = list(dataframe.columns[dataframe.dtypes == object])
    return cols

str_cols_df_A = get_str_cols(A)
str_cols_df_B = get_str_cols(B)


A1 = A[str_cols_df_A]
B1 = B[str_cols_df_B]

concat_cols_df_A = np_concat_cols(*A1.T.values)
concat_cols_df_B = np_concat_cols(*B1.T.values)

In [19]:
x = 0
for vals in concat_cols_df_A:
    x = x + len(vals)

In [20]:
print(x)

373634